* {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}
body {
    background-color: powderblue;
  }
h1 {
    color: blue;
    font-weight: bold;
}
h2 {
    color:black;
    font-weight: bold;
}
p {
    color: red;
}
#rounded-border {
    border-radius: 25px;
    margin: 10px;
    position:relative;
}
canvas {
    border-radius: 25px;
    border:10px;
    color: red;
}

.text_over_image {
    top: calc(50% - 24px);
    left: 0;
    width: 100%; 
    color:brown;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    border-style: dotted;
}

#division {
    position: relative;
    text-align: center; 
}